<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FroggerChickenWalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{62,90}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{62,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>FroggerChickenWalkLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{58,90}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{58,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>FroggerChickenWalkRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{66,90}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{66,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>FroggerChickenWings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FroggerChicken.png</string>
            <key>size</key>
            <string>{296,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f311c22fcf9f9b3fb2e98f7c5d77ca7:5d7654c5b317efa1c2bee759ccc6e6e3:74c58f82475a4233a505cfac03379f20$</string>
            <key>textureFileName</key>
            <string>FroggerChicken.png</string>
        </dict>
    </dict>
</plist>
